:root {
  --agritask-color: #1a827d;
  --brand-400: #245453;
  --brand-300: #1a827d;
  --brand-200: #42b7ac;
  --brand-100: #66ddc9;
  --white: #ffffff;
  --gray-100: #ffffff;
  --gray-150: #fcfcfd;
  --gray-200: #f9f9fa;
  --gray-300: #ebeef0;
  --gray-400: #dde1e4;
  --gray-500: #bcc5cb;
  --gray-600: #a8b5bc;
  --gray-700: #93a2ab;
  --gray-800: #798c97;
  --gray-900: #5f6e77;
  --gray-1000: #384146;
  --black: #000000;
  --purple-100: #f7eeff;
  --purple-500: #6800d6;
  --pri-100: #e6f4fe;
  --pri-500: #008ef4;
  --pri-600: #0080dc;
  --pri-800: #0063ab;
  --pri-500-015: rgba(0, 155, 189, 0.1490196078);
  --red-100: #fff9f6;
  --red-500: #da4644;
  --red-600: #bb313b;
  --red-800: #9c2235;
  --danger-100: var(--red-100);
  --danger-500: var(--red-500);
  --danger-600: var(--red-600);
  --danger-800: var(--red-800);
  --green-100: #f7fcf6;
  --green-500: #2bc016;
  --orange-100: #fffbf6;
  --orange-500: #faa321;
  --bg-500: #f5f7f9;
  --input-invalid: var(--danger-500);
  --input-valid: var(--green-500);
  --input-color-default: #5f6e77;
  --input-color-hover: #5f6e77;
  --input-color-focus: #5f6e77;
  --input-color-disabled: #a8b5bc;
  --input-color-invalid: #5f6e77;
  --input-label-default: #384146;
  --input-border-default: #a8b5bc;
  --input-border-hover: #5f6e77;
  --input-border-disabled: #a8b5bc;
  --input-border-invalid: var(--input-invalid);
  --data-red: #dc1e1e;
  --data-red-bg: #fff9f6;
  --data-brown: #9f530f;
  --data-brown-bg: #f9ede2;
  --data-orange: #ffad31;
  --data-orange-bg: #fffbf6;
  --data-green: #2bc016;
  --data-green-bg: #f7fcf6;
  --data-light-blue: #4fcaff;
  --data-light-blue-bg: #e6f4fe;
  --data-blue: #008ef4;
  --data-blue-bg: #e6f4fe;
  --data-purpel: #5d34ff;
  --data-purpel-bg: #eeeaff;
  --data-white: #ffffff;
  --data-white-bg: #a8b5bc;
}

:root {
  --red-color: #da4644;
  --yellow-color: #faa321;
  --green-color: #2bc016;
  --blue-color: #0080dc;
  --lightish-blue: #008ef4;
  --lightest-blue: #e6f4fe;
  --hover-lightish-blue: #0080dc;
  --grayish-black: #5f6e77;
  --severity-red: #da4644;
  --severity-green: #2bc016;
  --severity-red-bg: #fff9f6;
  --severity-green-bg: #f7fcf6;
  --very-light: #dde1e4;
  --most-light: #f9f9fa;
  --med-grey: #ebeef0;
  --light-blue: #e6f4fe;
  --primary-color: #384146;
  --menu-links-color: #5f6e77;
  --menu-links-icon: #5f6e77;
  --alert-green: #2bc016;
  --alert-green-light: #f7fcf6;
  --select2-main-color: #008ef4;
  --select2-second-color: #a8b5bc;
  --select2-empty-color: #f9f9fa;
  --main-element-color: #93a2ab;
  --second-element-color: #0080dc;
  --selected-blue-color: #008ef4;
  --bg-grey: #f5f7f9;
  --border-grey: #dde1e4;
  --grey: #5f6e77;
  --dark-grey: #5f6e77;
  --blue: #008ef4;
  --inactive-grey: #a8b5bc;
  --red: #da4644;
  --border-red: #da4644;
  --error-red: #fff9f6;
  --status-blue: #008ef4;
  --inactive-grey-text: #bcc5cb;
  --button-hover-blue: #0080dc;
  --button-regular-color: #5f6e77;
  --menu-items-grey: #798c97;
  --modal-title-grey: #a8b5bc;
  --menu-dropdown-bg: #f9f9fa;
  --menu-dropdown-hover: #f9f9fa;
  --dark-dark-grey: #384146;
  --light-light-grey: #f9f9fa;
  --grey0f: #0f0f0f;
  --grey75: #757575;
  --grey79: #797979;
  --grey82: #828282;
  --grey97: #979797;
  --greyBA: #bababa;
  --greyF2: #f2f2f2;
  --greyE5: #e5e5ea;
  --greyF5: #f5f5f5;
  --grey3a: #3a3a3a;
  --greyEC: #ececec;
  --greya0: #a0a0a0;
  --greyd2: #d2d2d2;
  --totals-grey: #ebeef0;
  --quotation-disabled-grey: #dde1e4;
  --disabled-grey: #fcfcfd;
  --focused-lightish-blue: #0063ab;
  --brighter-blue: #008ef4;
  --hr-color: #dde1e4;
  --future-row-color: #e6f4fe;
  --background: var(--bg-grey);
}

:root {
  --color-duration: 0.1s;
  --transform-duration: 0.25s;
  --transform-slow-duration: 0.5s;
}

.transform-transition {
  transition: transform var(--transform-duration);
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.AtButton {
  transition: all 3s;
  background-color: var(--bg);
  color: var(--text);
  border: solid var(--border-color) 1px;
  height: var(--button-height);
  font-weight: var(--font-medium);
  cursor: pointer;
  font-size: 1rem;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  --text: var(--gray-100);
  --bg: var(--pri-500);
  --border-color: transparent;
  transition: color var(--color-duration), background var(--color-duration), border-color var(--color-duration), transform var(--transform-duration) !important;
}
.AtButton.flicker {
  animation: alternate 0.6s infinite flickerAnimation ease-in-out;
}
.AtButton:hover {
  --text: var(--gray-100);
  --bg: var(--pri-600);
  --border-color: transparent;
}
.AtButton:hover:not(.link) {
  text-decoration: none;
}
.AtButton:active, .AtButton-active {
  --text: var(--gray-100);
  --bg: var(--pri-800);
  --border-color: transparent;
  transform: scale(0.95);
}
.AtButton:focus-visible {
  --text: var(--gray-100);
  --bg: var(--pri-600);
  --border-color: var(--pri-800);
  border-width: 2px;
}
.AtButton:disabled {
  color: color-mix(in srgb, var(--text) 70%, transparent);
  background-color: color-mix(in srgb, var(--bg) 60%, transparent);
  border-color: color-mix(in srgb, var(--border-color) 60%, transparent);
  --border-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
}
.AtButton.secondary {
  --text: var(--gray-900);
  --bg: var(--white);
  --border-color: var(--gray-600);
}
.AtButton.secondary:hover {
  --text: var(--pri-500);
  --bg: var(--white);
  --border-color: var(--gray-600);
}
.AtButton.secondary:active, .AtButton.secondary-active {
  --text: var(--pri-500);
  --bg: var(--white);
  --border-color: var(--pri-500);
}
.AtButton.secondary:active:disabled, .AtButton.secondary-active:disabled {
  --text: var(--gray-900);
  --border-color: var(--gray-400);
}
.AtButton.secondary:focus-visible {
  --text: var(--pri-500);
  --bg: var(--white);
  --border-color: var(--gray-800);
}
.AtButton.secondary:disabled {
  color: color-mix(in srgb, var(--text) 60%, transparent);
  background-color: color-mix(in srgb, var(--bg) 60%, transparent);
  --border-color: transparent;
}
.AtButton.secondary.active {
  --text: var(--pri-500);
  --border-color: var(--pri-500);
}
.AtButton.tertiary {
  --text: var(--pri-500);
  --bg: transparent;
  --border-color: transparent;
}
.AtButton.tertiary:hover {
  --text: var(--pri-600);
  --bg: var(--pri-100);
  --border-color: transparent;
}
.AtButton.tertiary:active, .AtButton.tertiary-active {
  --text: var(--pri-800);
  --bg: var(--pri-100);
  --border-color: transparent;
}
.AtButton.tertiary:focus-visible {
  --text: var(--pri-800);
  --bg: var(--pri-100);
  --border-color: var(--pri-800);
}
.AtButton.tertiary:disabled {
  --bg: transparent;
  --border-color: transparent;
}
.AtButton.text, .AtButton.link {
  --text: var(--pri-500);
  --bg: transparent;
  --border-color: transparent;
}
.AtButton.text:hover, .AtButton.link:hover {
  --text: var(--pri-600);
  --bg: transparent;
}
.AtButton.text:active, .AtButton.text-active, .AtButton.link:active, .AtButton.link-active {
  --text: var(--pri-800);
  --bg: transparent;
  --border-color: transparent;
}
.AtButton.text:focus-visible, .AtButton.link:focus-visible {
  --text: var(--pri-800);
  --bg: transparent;
  --border-color: transparent;
}
.AtButton.text:disabled, .AtButton.link:disabled {
  color: color-mix(in srgb, var(--text) 50%, transparent);
  --bg: transparent;
  --border-color: transparent;
}
.AtButton.brand100 {
  --bg: #66ddc9;
  --text: var(--gray-1000);
}
.AtButton.brand100:hover {
  --bg: #5cc7b5;
}
.AtButton.brand100:active, .AtButton.brand100-active {
  --bg: #42b7ac;
}
.AtButton.brand100:focus-visible {
  --bg: #66ddc9;
  --border-color: #1a827d;
}
.AtButton.brand200 {
  --bg: #42b7ac;
  --text: var(--gray-100);
}
.AtButton.brand200:hover {
  --bg: #389c92;
}
.AtButton.brand200:active, .AtButton.brand200-active {
  --bg: #1a827d;
}
.AtButton.brand200:focus-visible {
  --bg: #42b7ac;
  --border-color: #245453;
}
.AtButton.brand300 {
  --bg: #1a827d;
  --text: var(--gray-100);
}
.AtButton.brand300:hover {
  --bg: #156864;
}
.AtButton.brand300:active, .AtButton.brand300-active {
  --bg: #245453;
}
.AtButton.brand300:focus-visible {
  --bg: #1a827d;
  --border-color: #245453;
}
.AtButton.brand400 {
  --bg: #245453;
  --text: var(--gray-100);
}
.AtButton.dark {
  --bg: var(--pri-600);
  --text: var(--gray-100);
  --border-color: transparent;
}
.AtButton.dark.text {
  --text: var(--pri-600);
  --bg: transparent;
}
.AtButton.dark.secondary-active {
  --text: var(--pri-600);
  --bg: var(--gray-100);
  --border-color: var(--pri-600);
}
.AtButton.darkest {
  --bg: var(--pri-800);
  --text: var(--gray-100);
  --border-color: transparent;
}
.AtButton.darkest.text {
  --text: var(--pri-800);
  --bg: transparent;
}
.AtButton.darkest.secondary-active {
  --text: var(--pri-800);
  --bg: var(--gray-100);
  --border-color: var(--pri-800);
}
.AtButton.danger {
  --text: var(--white);
  --bg: var(--danger-500);
  --border-color: transparent;
}
.AtButton.danger:hover {
  --bg: var(--danger-600);
}
.AtButton.danger:active, .AtButton.danger-active {
  --bg: var(--danger-800);
}
.AtButton.danger:focus-visible {
  --bg: var(--danger-600);
  --border-color: var(--pri-600);
}
.AtButton.danger.secondary {
  --text: var(--danger-500);
  --bg: var(--white);
  --border-color: var(--gray-600);
}
.AtButton.danger.secondary:hover {
  --text: var(--danger-600);
}
.AtButton.danger.secondary:active, .AtButton.danger.secondary-active {
  --border-color: var(--danger-500);
  --text: var(--danger-500);
  --bg: var(--white);
}
.AtButton.danger.secondary:focus-visible {
  --text: var(--danger-800);
  --border-color: var(--danger-800);
}
.AtButton.danger.tertiary {
  --bg: transparent;
}
.AtButton.danger.tertiary:hover {
  --text: var(--danger-600);
  --bg: var(--danger-100);
}
.AtButton.danger.tertiary:active, .AtButton.danger.tertiary-active {
  --bg: var(--danger-100);
  --text: var(--danger-800);
}
.AtButton.danger.tertiary:focus-visible {
  --bg: var(--danger-100);
  --text: var(--danger-800);
  --border-color: var(--danger-800);
}
.AtButton.danger.text, .AtButton.danger.link {
  --text: var(--danger-500);
  --bg: transparent;
  --border-color: transparent;
}
.AtButton.danger.text:hover, .AtButton.danger.link:hover {
  --text: var(--danger-600);
}
.AtButton.danger.text:active, .AtButton.danger.text-active, .AtButton.danger.link:active, .AtButton.danger.link-active {
  --text: var(--danger-800);
}
.AtButton.danger.text:focus-visible, .AtButton.danger.link:focus-visible {
  --text: var(--danger-800);
}
.AtButton.size-l {
  --button-height: 48px;
  --border-radius: 8px;
  padding-inline: var(--spacing-06);
}
.AtButton.size-m {
  --button-height: 40px;
  --border-radius: 6px;
  padding-inline: var(--spacing-04);
}
.AtButton.size-s,
.AtButton .popup {
  --button-height: 36px;
  padding-inline: 0.625rem;
  font-size: 0.875rem;
  --border-radius: 6px;
}
.AtButton.square {
  width: var(--button-height);
  padding: 0;
}
.AtButton .Loader svg path,
.AtButton .Loader svg rect {
  fill: var(--text);
}
.AtButton > .icon {
  display: inline-block;
}
.AtButton-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-01);
}
.AtButton-content > i {
  height: 1em;
}
.AtButton-content > * {
  display: inline-block;
}
.AtButton-content > .icon-tabler {
  vertical-align: unset;
}
.AtButton.text, .AtButton.link {
  min-width: auto;
  padding: 0;
  font-weight: var(--normal);
}
.AtButton.text.clicked, .AtButton.link.clicked {
  transform: scale(1);
}
.AtButton.link {
  text-decoration: underline;
}

a:not(.link) {
  text-decoration: none;
}
