.ReadonlyField {
  word-wrap: break-word;
}
.ReadonlyField.long-label > .ReadonlyField-label {
  min-width: 190px;
  display: inline-block;
}
.ReadonlyField .replaced-content {
  text-decoration: line-through;
}
.rotate-switch-date-icon {
  transform: rotate(180deg);
}
.InputDate {
  display: flex;
  align-items: center;
}
.InputDate .input {
  --input-horizontal-padding: 2px;
  outline: none;
}
.InputDate-dropdownWrapper {
  background: white;
  border: 1px solid var(--gray-400);
}
.InputDate .navigate-button:hover {
  border: 1px solid var(--gray-500);
}
.InputDate .navigate-button:focus {
  border: 1px solid var(--gray-200);
}
.InputDate-icon {
  width: 24px;
  height: 24px;
}
/**
* Mocks padding-end behaviour
 */
/**
* Mocks padding-start behaviour
 */
/**
* Removes pad-end from last and pad-start from first elements
 */
/**
* Adds settings to have text-overflow: ellipsis.
 */
/**
* Creates a css arrow pointing to the top
 */
/**
* Creates a css arrow pointing to the bottom
 */
/**
* Creates a css arrow pointing to the right
 */
/**
* Creates a css arrow pointing to the left
 */
/**
* Change color of SVG icon
*/
/**
* Controls styles based on the body direction -
* has a optional 4th argument to overwrite the rtl attribute
**/
/**
* Creates a container with collapsing margin at a certain point
**/
:root {
  --menu-dropshadow: 0px 4px 22px rgb(56 65 70 / 11%);
}
body {
  font-family: var(--font-family-base) !important;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
*,
:after,
:before {
  box-sizing: border-box;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
.btn,
.form-control {
  box-shadow: none !important;
}
strong {
  font-weight: 700;
  font-family: var(--font-family-base);
}
.strong {
  font-weight: 700;
}
button {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}
button:not(:disabled):not(.cursor-default) {
  cursor: pointer;
}
.vue-page {
  margin: 0 2.5rem;
  padding-top: 2.5rem;
  min-height: calc(100vh - var(--header-height));
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
.i-4x {
  font-size: 3.0625rem;
}
.i-3x {
  font-size: 2.4375rem;
}
.i-2x {
  font-size: 1.8125rem;
}
.i-2x::before {
  vertical-align: bottom;
}
.i-1x {
  font-size: 1.1875rem;
}
.content-block {
  width: 100%;
}
.gridly {
  position: relative;
  z-index: 0;
}
.big {
  width: 38.75rem;
  height: 43.125rem;
}
.wide {
  width: 38.75rem;
  height: 20.9375rem;
}
.small {
  width: 18.75rem;
  height: 20.9375rem;
}
.tms-display-none {
  display: none !important;
}
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.z1 {
  z-index: 1;
}
i.icon {
  vertical-align: middle;
  letter-spacing: initial;
}
i.icon.rotate-45::before {
  display: inline-block;
  transform: rotate(45deg);
}
i.icon.rotate-90::before {
  display: inline-block;
  transform: rotate(90deg);
}
i.icon.rotate-180::before {
  display: inline-block;
  transform: rotate(180deg);
}
i.icon.rotate-270::before {
  display: inline-block;
  transform: rotate(270deg);
}
.styled-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.styled-scroll::-webkit-scrollbar-thumb {
  background: var(--greyBA);
  border-radius: 3px;
}
.sticky-bottom {
  position: sticky;
  bottom: 1rem;
}
.sticky-bottom-footer {
  position: sticky;
  bottom: 0;
  background: var(--white);
  border-top: 1px solid var(--hr-color) !important;
  padding: 0.75rem 0.75rem 2.125rem;
  z-index: var(--sticky-bars-z);
}
.fixed-bottom-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: var(--white);
  border-top: 1px solid var(--hr-color) !important;
  padding: 0.75rem 0.75rem 2.125rem;
  z-index: var(--sticky-bars-z);
}
.contain-fixed-footer {
  padding-top: 0;
  padding-bottom: var(--footer-height-full);
}
.sticky-portal {
  z-index: var(--tooltip-z);
  position: absolute;
}
.sticky-portal-reposition {
  left: 0 !important;
  top: 0 !important;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-events {
  pointer-events: none;
}
.w-100 {
  max-width: unset !important;
  width: 100%;
}
.w-50 {
  max-width: unset !important;
  width: 100%;
}
.transparent {
  background-color: transparent;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
body[dir=rtl] .rtl-rotate-180 {
  transform: rotate(180deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
body:not([dir=rtl]) .rotate-180-rtl {
  transform: rotate(0deg);
}
body[dir=rtl] .rotate-180-rtl {
  transform: rotate(180deg);
}
.hide-scrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.wt-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.AtDatePicker {
  height: 2.5rem;
  display: flex;
  background: white;
}
.AtDatePicker .label {
  font-size: var(--input-label-size);
}
.AtDatePicker.disabled {
  pointer-events: none;
  border-color: var(--gray-500);
}
.AtDatePicker .icon {
  font-size: 1.375rem;
  -webkit-margin-end: 0.625rem;
          margin-inline-end: 0.625rem;
  display: flex;
  align-self: center;
  align-items: center;
  flex-grow: 0;
}
.AtDatePicker .icon.clear {
  font-size: 1.25rem;
  cursor: pointer;
}
